.confirmation{
    
    width: 90%;
    margin: auto;
    box-shadow: 0px 0px 6px #3e3e3e;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
}
button{
    display: block;
    width: 50% ;
    margin: 40px auto;
    background: linear-gradient(to bottom, #0c6c61, #169183);
    color: white;
    border-radius: 30px;
    border: none;
    padding: 5px 2em;
}
.tableConfirm{
    text-align: center;
    width: 100%;
    border-spacing: 0;
    font-size: small;
    margin: 20px auto;
} td,th{
padding: 5px;
}
.tableConfirm tr:nth-child(even){
    border-bottom: 3px solid #eeeeee;
    background-color: #eeeeee;
}